@import "../../scss/mixins";
@import "../../scss/variables";


.cart-item {
    background-color: #202020;
    border-radius: 5px;
    margin: 10px;

    .thumb {
        position: relative;
        width: 100%;
        padding-bottom: 60%;

        .img-contained {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .btn-eliminar {
        background-color: transparent;
        border: none;
        position: absolute;
        padding: 10px;
        right: 5px;
        font-size: 20px;
    }


    h5,
    p,
    h4 {
        color: #fff;
        text-align: center;
        font-family: rajdhani;
    }
}