@import "../../scss/mixins";
@import "../../scss/variables";


.item-container {
    display: flex;
    flex-direction: column;
    background: #202020;

    .thumb {
        position: relative;
        width: 100%;
        padding-bottom: 80%;

        .img-contained {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .item-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 27px;
        text-align: center;
        color: #fff;
        padding: 10px;
        font-family: Titillium Web;

        .btn-detail {
            @include btn-primary;
        }

        .btn-detail:hover {
            border: 1px solid #fff;
            color: #fff;
        }

        .btn-compra {
            @include btn-primary;
        }

        .btn-compra:hover {
            background-color: $danger;
            border: none;
            color: #fff;
        }
    }
}

.column-custom {
    width: 48%;
    display: flex;
    align-items: center;

    @include media-up(576px) {
        width: 49%;
    }

    @include media-up(768px) {
        width: 32%;
    }
}