@import "../../scss/mixins";
@import "../../scss/variables";

.top-nav {
    height: 95px;
}

nav {
    background: linear-gradient(180deg, #000, transparent);
    position: fixed;
    width: 100%;
    z-index: 999;
    line-height: 60px;
}

.banner-bg-cover {
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .9));
}

.menu {
    z-index: 998;
    position: absolute;
    background-color: $backgraund;
    margin-left: -100%;
    list-style: none;
    transition: all 0.3s;
    padding-top: 200px;
    width: 65%;
    padding: 0;



    @include media-up(768px) {
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        margin-left: 0;
        margin: 0;
        padding-top: 0px;
    }

    li {
        padding: 15px;
        font-size: 1rem;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.menu-active {
    margin-left: 0;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 999;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 30%;
    margin-top: 7px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 24px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -7px;
}

.hamburger-inner::after {
    bottom: -7px;
}

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}