@import "../../scss/mixins";
@import "../../scss/variables";


.top-nav {
    height: 95px;
    z-index: 999;
    background: linear-gradient(180deg, #000, transparent);
    position: fixed;
    width: 100%;
    line-height: 60px;

    .logo {
        width: 106px;
        height: 25px;
        margin: 0 10px;


        @include media-up(992px) {
            width: 153px;
            height: 36px;
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: $backgraund;
    margin-left: -100%;
    list-style: none;
    transition: all 0.3s;
    width: 100%;
    max-width: 550px;
    height: 100vh;

    li {
        font-size: 1rem;
        line-height: 50px;

        a {
            text-decoration: none;
            color: white;
            padding: 0px 10px;
        }
    }

    @include media-up(992px) {
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        margin-left: 0;
        margin: 0;
        padding-top: 0px;
        height: auto;
    }


    .subMenu {
        padding-left: 25px;

        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 12px;
        }

        @include media-up(992px) {
            padding-left: 0;
            width: 100%;
            position: fixed;
            display: block;
            top: -100%;
            right: 0;
            background-color: rgba(0, 0, 0, .87);
            text-align: center;
            transition: all 0.5s;
            z-index: -1;


            .subMenu-content {
                width: calc(100% - 130px);
                min-height: 200px;
                padding-top: 90px;
                margin: 0 auto;
                padding-bottom: 15px;

                div {
                    display: inline-block;
                    max-width: 160px;

                    img {
                        width: 122px;
                        height: 135px;
                        margin: 0px 10px;
                    }
                }

                div:hover a {
                    color: $danger;
                }
            }
        }
    }

    .subMenu-active {
        top: 0px;
        transition: all 0.5s;
    }
}

.menu-active {
    margin-left: 0;
}

.hamburger {
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 999;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
}

.hamburger-box {
    width: 19px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 30%;
    margin-top: 7px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 19px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -6px;
}

.hamburger-inner::after {
    bottom: -6px;
}

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}